body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.cover {
    width: 60%;
    height: 500px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.cover-image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.title {
    color: var(--fontcolor);
    font-size: var(--fontsize);
    margin-top: 10px;
}

.subtitle {
    color: var(--fontcolor);
    margin-top: 5px;
}
